/* Import links */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/*  Global style */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

/* Heading */

h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

p {
    padding-top: 1rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.heading {
    padding: 1rem;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 250%;
}

#hero-image {
    width: 100%;
    height: 1000px;
    background: url(./assets/images/books-large.jpg);
    opacity: 0.9;
}

/* Quiz area */

.quiz-area {
    height: 50rem;
    background-color: rgb(220, 86, 52);
    margin: 0 20% 0 20%;
    border-radius: 3rem;
    position: relative;
    opacity: 0.95;
}

#main-question {
    font-size: 2rem;
    padding-top: 2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 25px;
    display: block;
    margin: 0% auto;
    width: 100%;
}

.question-answer {
    display: block;
    width: 70%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 0% auto;
    margin-bottom: 1rem;
    border-radius: 3rem;
}

#poem {
    padding: 2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 70%;
}

#answers {
    position: absolute;
    bottom: 220px;
    display: block;
    margin: 0% auto;
    width: 100%;
}

/* Navigation Buttons */

#navigation-left {
    display: flexbox;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 2.5rem 0 3rem 3rem;
    float: left;
    border-radius: 3rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#navigation-right {
    display: flexbox;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 2.5rem 3rem 3rem 0;
    float: right;
    border-radius: 3rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#restart-button {
    display: block;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 0% auto;
    border-radius: 3rem;
}

#start-button {
    display: block;
    position: absolute;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    border-radius: 3rem;
    top: 140px;
    text-align:center;
    margin-left: 35%;
    margin-right: 35%
}

@media screen and (max-width: 768px) {
    
    #main-question {
        font-size: 1.5rem;
    }

    #navigation-left {
        margin: 2.5rem 0 3rem 1.5rem;
    }
    #navigation-right {
        margin: 2.5rem 1.5rem 3rem 0;
    }
}