/* Import links */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*  Global style */

body {
    background-color: whitesmoke;
}

/* Heading */

h3 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

p {
    padding-top: 1rem;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.heading {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

/* Quiz area */

.quiz-area {
    height: 50rem;
    background-color: grey;
    margin: 0 20% 0 20%;
    border-radius: 3rem;
    position: relative;
}

#main-question {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.question-answer {
    display: block;
    width: 70%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 0% auto;
    margin-bottom: 1rem;
    border-radius: 3rem;
}

#poem {
    padding: 2rem;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 70%;
}

#answers {
    position: absolute;
    bottom: 150px;
    display: block;
    margin: 0% auto;
    width: 100%;
}

/* Navigation Buttons */

#navigation-left {
    display: flexbox;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 2.5rem 0 3rem 3rem;
    float: left;
    border-radius: 3rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#navigation-right {
    display: flexbox;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 2.5rem 3rem 3rem 0;
    float: right;
    border-radius: 3rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#restart-button {
    display: block;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 0% auto;
    border-radius: 3rem;
}

#start-button {
    display: block;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 0% auto;
    border-radius: 3rem;
}
