/* Import links */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*  Global style */

body {
    background-color: whitesmoke;
}

/* Heading */

.heading {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

/* Quiz area */

.quiz-area {
    height: 50rem;
    background-color: grey;
    margin: 0 20% 0 20%;
    border-radius: 3rem;
}

#main-question {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.question-answer {
    display: block;
    width: 70%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 0% auto;
    margin-bottom: 1rem;
}

/* Navigation Buttons */

#navigation-left {
    display: flexbox;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 2.5rem 0 3rem 3rem;
    float: left;
}

#navigation-right {
    display: flexbox;
    width: 30%;
    background-color: whitesmoke;
    padding: 2rem;
    cursor: pointer;
    margin: 2.5rem 3rem 3rem 0;
    float: right;
}